@import "../general/theme";

.about {
  padding-top: 80px;
  color: $black-90;
  
  @media (min-width: 1280px) {
    padding-top: 158px;
  }

  &__header {
    margin-bottom: 62px;
    text-align: center;

    @media (min-width: 768px) {
      max-width: 530px;
      margin-right: auto;
      margin-left: auto;
    }

    @media (min-width: 1280px) {
      max-width: 650px;
    }
  }

  h2 {
    margin-bottom: 14px;
    color: $ember-100;
    font: {
      size: 36px;
      weight: 500;
    }
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 42px;
    }

    @media (min-width: 1280px) {
      font-size: 55px;
    }
  }

  &__description {
    line-height: 1.4;

    @media (min-width: 1280px) {
      font-size: 20px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 10px;
    overflow: hidden;

    @media (min-width: 768px) {
      gap: 16px;
      transition-duration: .5s;
    }

    @media (min-width: 1024px) {
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 calc(50% - 5px);

      @media (max-width: 1023px) {
        overflow: hidden;
        border-radius: 12px;
        border: 1px solid #D0D0D0;
      }

      @media (min-width: 768px) {
        flex: 0 0 calc(50% - 8px);
      }

      @media (min-width: 1024px) {
        position: relative;
        flex: 0 0 calc(25% - 12px);
        flex-direction: row;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        will-change: transform;
      }

      &-top {
        @media (min-width: 1024px) {
          width: 22.46vw;
        }

        @media (min-width: 1680px) {
          width: 377px;
        }
      }

      &--description {
        max-height: 0;
        transition-duration: .25s;
        overflow: hidden;

        @media (min-width: 1024px) {
          max-width: 0;
          position: absolute;
          left: 22.46vw;
          transition-duration: 0s;
        }

        @media (min-width: 1680px) {
          left: 377px;
        }

        .inner {
          display: flex;
          flex-direction: column;
          row-gap: 12px;

          @media (max-width: 1023px) {
            padding: 22px 12px;
            color: #464B4D;
            font-weight: 500;
          }

          @media (min-width: 1024px) {
            width: 100%;
            max-width: 770px;
            padding-top: 0;
            padding-left: 20px;
          }

          @media (min-width: 1680px) {
            padding-left: 40px;
          }
        }
      }

      &--img {
        overflow: hidden;

        @media (min-width: 1024px) {
          border-right: 16px;
          cursor: pointer;
        }

        img {
          @media (min-width: 1024px) {
            transition-duration: .25s;
          }
        }

        &:hover {
          img {
            @media (min-width: 1024px) {
              transform: scale(1.02);
            }
          }
        }
      }

      &--meta {
        padding-top: 12px;
        padding-right: 9px;
        padding-left: 9px;
        text-align: center;

        @media (min-width: 1024px) {
          padding-top: 16px;
        }
      }

      &--name {
        margin-bottom: 12px;
        font: {
          family: "Darker Grotesque", sans-serif;
          size: 19px;
          weight: 500;
        };
        color: $black-100;

        @media (max-width: 1023px) {
          margin-bottom: 12px;
          padding-bottom: 12px;
          border-bottom: 1px solid #D0D0D0;
          line-height: 1;
        }

        @media (min-width: 1024px) {
          margin-bottom: 6px;
          font-size: 24px;
        }

        @media (min-width: 1440px) {
          font-size: 40px;
        }
      }

      &--position {
        line-height: 1.4;
        font-size: 12px;
        transition-duration: .15s;

        @media (min-width: 1024px) {
          font-size: 14px;
        }

        @media (min-width: 1440px) {
          font-size: 15px;
        }

        @media (min-width: 1660px) {
          font-size: 18px;
        }
      }

      &--btn {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 6px 16px 10px;
        border-width: 0;

        @media (min-width: 1024px) {
          display: none;
        }
      }

      &.is-left {
        @media (max-width: 1023px) {
          flex: 0 0 0;
          margin-left: -10px;
          border-width: 0;
        }
      }

      &.is-active {
        @media (max-width: 1023px) {
          flex: 0 0 100%;
          background-color: #F3F0E9;

          .about__list-item-top {
            display: none;
          }

          &.about__list-item:nth-child(odd) + .about__list-item {
            flex: 0 0 0;
            margin-left: -10px;
            border-width: 0;
          }

          .btn-primary {
            background-color: $black;
            background-image: none;
          }
        }
        
        @media (min-width: 1024px) {
          flex: 0 0 100%;
        }

        &:nth-child(1) {
          .about__list-item--position {
            @media (max-width: 1023px) {
              font-size: 26px;
              color: $black-90;
            }
          }
        }

        .about__list-item-top {
          @media (min-width: 1024px) {
            flex-shrink: 0;
            transition-duration: 0s;
          }
        }

        .about__list-item--description {
          line-height: 1.4;

          @media (max-width: 1023px) {
            max-height: 1000px;
          }

          @media (min-width: 1024px) {
            max-width: 790px;
            max-height: 500px;
            font-size: 18px;
            transition-duration: .75s;
            transition-property: max-height;
            transform-origin: bottom;
            transition-delay: .4s;
          }

          @media (min-width: 1440px) {
            font-size: 20px;
            line-height: 1.5;
          }
        }

        .about__list-item--img img {
          @media (min-width: 1024px) {
            transform: scale(1.02);
          }
        }
      }
    }

    &.is-expanded {
      @media (min-width: 1024px) {
        gap: 0;
      }

      .about__list-item:not(.is-active) {
        &.is-left {
          @media (min-width: 1024px) {
            transform: translateX(-220vw);
          }
        }

        &.is-right {
          @media (min-width: 1024px) {
            transform: translateX(220vw);
          }
        }
      }
    }
  }
}