@import "../general/theme";

.cta {
  position: relative;
  color: $white;
  background-color: $black;
  overflow: hidden;
  z-index: 1;

  &__bg {
    position: absolute;
    inset: 0 0;
    background-image: url(../images/cta/cta-bg-mobile.webp);
    background-size: 155%;
    background-position: center top;
    background-repeat: no-repeat;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    z-index: -1;

    @media (min-width: 768px) {
      background-size: contain;
    }
    
    @media (min-width: 1024px) {
      background-image: url(../images/cta/cta-bg-desktop.webp);
      background-size: cover;
    }
  }

  &__inner {
    position: relative;
    padding-top: 282px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.03%, rgba(0, 0, 0, 0.54) 38.69%, rgba(0, 0, 0, 0.98) 47.17%, #000 59.91%);

    @media (min-width: 768px) {
      padding-top: 440px;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.03%, rgba(0, 0, 0, 0.54) 63.69%, rgba(0, 0, 0, 0.98) 72.17%, #000 59.91%);
    }

    @media (min-width: 1024px) {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 41.35%, #000 100%);
    }

    @media (min-width: 1280px) {
      padding-top: 688px;
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 42px;
      padding-bottom: 92px;
      z-index: 1;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        column-gap: 114px;
        padding-bottom: 42px;
      }

      @media (min-width: 1280px) {
        padding-bottom: 124px;
      }

      &::before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        height: 158px;
        width: 100%;
        background-image: url(../images/cta/cta-decor.webp);
        background-repeat: no-repeat;
        background-position: center top;
        z-index: -1;

        @media (min-width: 1024px) {
          height: 515px;
          background-image: url(../images/cta/cta-decor-desktop.webp);
          background-size: 120%;
        }

        @media (min-width: 1600px) {
          width: 100vw;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .btn {
      flex-shrink: 0;
    }
  }

  h2 {
    margin-bottom: 30px;
    font: {
      size: 40px;
      weight: 500;
    }

    @media (min-width: 1024px) {
      font-size: 60px;
    }

    @media (min-width: 1280px) {
      font-size: 76px;
    }

    @media (min-width: 1440px) {
      font-size: 96px;
      line-height: 1;
    }

    span {
      font: {
        family: "Inter", sans-serif;
        size: 28px;
        weight: 400;
      }
      line-height: 1.1;

      @media (min-width: 1024px) {
        font: {
          size: 48px;
          style: italic;
        }
      }

      @media (min-width: 1280px) {
        font: {
          size: 54px;
        }
      }

      @media (min-width: 1440px) {
        font: {
          size: 88px;
        }
      }
    }

  }

  &__header {
    @media (min-width: 768px) {
      max-width: 400px;
    }

    @media (min-width: 1024px) {
      max-width: 620px;
      font-size: 18px;
      line-height: 1.5;
    }

    @media (min-width: 1280px) {
      max-width: 774px;
      font-size: 20px;
    }

    @media (min-width: 1440px) {
      max-width: 990px;
    }

    p {
      max-width: 790px;
    }
  }
}