@import "../general/theme";

.faq {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $black-500;
  color: $white;

  @media (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 150px;
  }

  .container {
    @media (min-width: 1440px) {
      padding-right: 60px;
      padding-left: 60px;
    }
  }

   h2 {
     margin-bottom: 40px;
     color: $ember-100;
     text-transform: uppercase;
     text-align: center;
     font: {
       size: 33px;
       weight: 500;
     }
     
     @media (min-width: 768px) {
       font-size: 42px;
     }

     @media (min-width: 1280px) {
       margin-bottom: 100px;
       font-size: 55px;
     }
   }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 34px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-start;
      column-gap: 28px;
    }

    @media (min-width: 1280px) {
      column-gap: 155px;
    }
  }

  &__img {
    display: block;
    border-radius: 22px;
    overflow: hidden;

    @media (min-width: 1024px) {
      flex: 0 0 400px;
    }

    img {
      @media (min-width: 1024px) {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .accordion {
    .acc-item {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 1px;
        pointer-events: none;
        --dash: 10px;
        --gap: 8px;

        background: repeating-linear-gradient(
                        90deg,
                        $black-60 0 var(--dash),
                        transparent var(--dash) calc(var(--dash) + var(--gap))
        );
      }
    }

    .acc-trigger {
      position: relative;
      display: grid;
      grid-template-columns: 40px 1fr;
      grid-column-gap: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
      font: {
        family: "Darker Grotesque", sans-serif;
        size: 24px;
        weight: 500;
      }
      line-height: 1;

      @media (min-width: 768px) {
        grid-template-columns: 60px 1fr;
        padding-top: 48px;
        padding-bottom: 48px;
        font-size: 32px;
      }

      @media (min-width: 1024px) {
        cursor: pointer;
      }

      @media (min-width: 1280px) {
        font-size: 40px;
      }

      @media (min-width: 1440px) {
        grid-column-gap: 40px;
      }

      span {
        color: $ember-100;
      }
    }
    
    .acc-panel {
      height: 0;
      overflow: hidden;
      transition-duration: .25s;

      &-inner {
        padding-bottom: 24px;
        color: $black-60;
        line-height: 1.4;

        @media (min-width: 768px) {
          padding-left: 76px;
          padding-bottom: 48px;
          font-size: 20px;
        }

        @media (min-width: 1440px) {
          padding-left: 100px;
        }
      }
    }
  }
}