@import "../general/theme";

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: $black;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.81%, rgba(0, 0, 0, 0.75) 70%, #000 76.38%);
    z-index: 0;

    @media (min-width: 1024px) {
      background: linear-gradient(145deg, rgba(0, 0, 0, 0.00) 15.82%, rgba(0, 0, 0, 0.29) 50.62%, rgba(0, 0, 0, 0.50) 75.65%), linear-gradient(105deg, rgba(0, 0, 0, 0.00) 31.67%, rgba(0, 0, 0, 0.36) 52.57%, rgba(0, 0, 0, 0.49) 73.82%, rgba(0, 0, 0, 0.90) 98.26%);
    }
  }

  &__text {
    position: absolute;
    left: 22px;
    right: 22px;
    bottom: 56px;
    color: $white;
    text-align: center;
    font: {
      family: "Darker Grotesque", sans-serif;
      size: 18px;
    }
    line-height: normal;
    z-index: 2;

    @media (min-width: 1024px) {
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
      font-size: 20px;
    }

    @media (min-width: 1280px) {
      font-size: 24px;
    }

    .btn {
      margin-top: 38px;
      padding-inline: 62px;

      @media (min-width: 1024px) {
        margin-top: 52px;
      }
    }
  }

  h1 {
    margin-bottom: 18px;
    font: {
      size: 36px;
      weight: 400;
    }

    @media (min-width: 1024px) {
      max-width: 620px;
      margin-bottom: 20px;
      margin-right: auto;
      margin-left: auto;
      font-size: 60px;
    }

    @media (min-width: 1280px) {
      max-width: 950px;
      margin-bottom: 28px;
      font-size: 96px;
    }

    i {
      color: $ember-100;
      font: {
        family: "Inter", sans-serif;
        weight: 300;
      }
    }
  }

  &__video {
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: 73% 50%;

    @media (min-width: 1024px) {
      height: 100%;
    }
  }
}