@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
  font-family: "Inter", sans-serif;
  line-height: normal;
}

h1, h2, h3, .font-darker-grotesque, .item-title {
  font-family: 'Darker Grotesque', sans-serif;
  line-height: 1;
}