$white: #fff;
$black: #000;
$black-10: #E5E5E5;
$black-20: #D0D0D0;
$black-60: #7B7B7D;
$black-80: #464B4D;
$black-90: #2D3335;
$black-100: #141B1D;
$black-500: #0C0C0D;

$starlight: #F3F0E9;
$starlight-100: #F4F1EB;

$ember-100: #FF7348;
